/* Write your CSS here */
.itemContainer {
  border: solid 1px #b5b7c4;
  border-radius: 8px;
  padding-left: 15px;
  padding-right: 15px;
  height: 100px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 300px;
}

.titleStyle {
  font-weight: 600;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}

.dateStyle {
  color: #b5b7c4;
}

.starButton {
  cursor: pointer;
  outline: none;
  border-style: none;
  background-color: transparent;
}
